*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#title{
    text-align: center;
}
#main_container{
    margin:auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border:red 1px solid;
    width: 70%;
}

.contents{
    flex-grow: 1;
    flex-basis: 20%;
    margin:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:blue 1px solid;
}
.showMemo{
    border: green 1px solid;
    padding: 5%;
    margin: 5%;
}
.deleteBtn{
    width: 30%;
    font-size:16px;
    margin:5%;
}
.form__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    margin:auto;
    margin-top:10%;
}
.form__input--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form__submit{
    width:30%;
    
}
